In [95]:
import numpy as np
import pandas as pd
import requests
import time
import os.path
import re
from ediblepickle import checkpoint
import string
from bs4 import BeautifulSoup

In [2]:
# import data from NYC Property Valuation and Assessment data 
data = pd.read_csv('valid_address.csv')

/opt/conda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,4,53,87,90,93,97,100,106,109) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
address = pd.read_csv('address_book.csv')

/opt/conda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,4,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
address.head()

,BBLE,STREET_NUM,STREET_NAME,ZIP,ZILLOW_LINK,VALUE,YEAR_BUILT,ZILLOW_STATUS,LATITUDE,LONGITUTDE,ZILLOW_ID,SCHOOL_RATING
0,1000750043,26,CLIFF STREET,10038,NaN,8530000,1974,NaN,NaN,NaN,NaN,NaN
1,1000780040,86,NASSAU STREET,10038,NaN,6080000,1910,NaN,NaN,NaN,NaN,NaN
2,1000970017,211,FRONT STREET,10038,NaN,4340000,1900,NaN,NaN,NaN,NaN,NaN
3,1000970036,226,FRONT STREET,10038,NaN,5730000,1901,NaN,NaN,NaN,NaN,NaN
4,1000970044,136,BEEKMAN STREET,10038,NaN,2220000,1998,NaN,NaN,NaN,NaN,NaN

In [5]:
data.head()

,BBLE,BORO,BLOCK,LOT,EASE,SECVOL,DISTRICT,YEAR4,CUR_FV_L,CUR_FV_T,...,O_APPLIC,REUC,GEO_RC,COOP_NUM,EX_INDS,EX_COUNT,EX_CHGDT,DCHGDT,SM_CHGDT,PER_SQFT
0,1000750043,1.0,75.0,43.0,NaN,102.0,88,2009.0,4950000.0,8530000.0,...,NaN,NaN,0,0.0,NaN,0.0,00/00/0000,03/19/2009,01/01/2010,1332.812500
1,1000780040,1.0,78.0,40.0,NaN,102.0,88,2009.0,4490000.0,6080000.0,...,NaN,NaN,0,0.0,NaN,0.0,00/00/0000,03/22/2007,01/01/2010,1468.599034
2,1000970017,1.0,97.0,17.0,NaN,103.0,88,2009.0,2390000.0,4340000.0,...,1.0,NaN,0,0.0,NaN,0.0,00/00/0000,03/19/2010,01/01/2010,875.000000
3,1000970036,1.0,97.0,36.0,NaN,103.0,88,2009.0,3150000.0,5730000.0,...,NaN,NaN,0,0.0,EEEE,1.0,00/00/0000,03/26/2008,01/01/2010,868.181818
4,1000970044,1.0,97.0,44.0,NaN,103.0,88,2009.0,1220000.0,2220000.0,...,NaN,NaN,0,0.0,NaN,0.0,00/00/0000,12/31/2004,01/01/2010,792.857143

In [ ]:
address = pd.DataFrame(data, columns=['HNUM_LO'].astype(int))

In [361]:
# strip leading zeros
address.STREET_NUM = [re.sub("^0+","",i) for i in data.HNUM_LO ]

In [403]:
# take out dash to fit the zillow format
address.STREET_NUM = [i.replace(' ','') for i in address.STREET_NUM ]

In [471]:
address

,BBLE,STREET_NUM,STREET_NAME,ZIP,ZILLOW_LINK,VALUE,YEAR_BUILT,ZILLOW_STATUS,LATITUDE,LONGITUTDE,ZILLOW_ID,SCHOOL_RATING
0,1000750043,26,CLIFF STREET,10038,NaN,8530000,1974,NaN,NaN,NaN,NaN,NaN
1,1000780040,86,NASSAU STREET,10038,NaN,6080000,1910,NaN,NaN,NaN,NaN,NaN
2,1000970017,211,FRONT STREET,10038,NaN,4340000,1900,NaN,NaN,NaN,NaN,NaN
3,1000970036,226,FRONT STREET,10038,NaN,5730000,1901,NaN,NaN,NaN,NaN,NaN
4,1000970044,136,BEEKMAN STREET,10038,NaN,2220000,1998,NaN,NaN,NaN,NaN,NaN
5,1000970045,134,BEEKMAN STREET,10038,NaN,2010000,1901,NaN,NaN,NaN,NaN,NaN
6,1000970055,245,WATER STREET,10038,NaN,4500000,1900,NaN,NaN,NaN,NaN,NaN
7,1000970144,138,BEEKMAN STREET,10038,NaN,2220000,1988,NaN,NaN,NaN,NaN,NaN
8,1001060002,276,WATER STREET,10038,NaN,340000,2008,NaN,NaN,NaN,NaN,NaN
9,1001060006,268,WATER STREET,10038,NaN,4410000,1900,NaN,NaN,NaN,NaN,NaN
10,1001320024,79,WARREN STREET,10007,NaN,642000,1905,NaN,NaN,NaN,NaN,NaN
11,1001320026,75,WARREN STREET,10007,NaN,3082000,1905,NaN,NaN,NaN,NaN,NaN
12,1001350011,24,WARREN STREET,10007,NaN,1711000,1915,NaN,NaN,NaN,NaN,NaN
13,1001370026,162,CHAMBERS STREET,10007,NaN,8760000,1915,NaN,NaN,NaN,NaN,NaN
14,1001400024,145,READE STREET,10013,NaN,1182000,1910,NaN,NaN,NaN,NaN,NaN
15,1001410007,144,READE STREET,10013,NaN,5770000,1915,NaN,NaN,NaN,NaN,NaN
16,1001410009,148,READE STREET,10013,NaN,5400000,1999,NaN,NaN,NaN,NaN,NaN
17,1001410010,150,READE STREET,10013,NaN,7160000,1999,NaN,NaN,NaN,NaN,NaN
18,1001410011,152,READE STREET,10013,NaN,7720000,1900,NaN,NaN,NaN,NaN,NaN
19,1001410013,156,READE STREET,10013,NaN,4860000,1920,NaN,NaN,NaN,NaN,NaN
20,1001410114,158,READE STREET,10013,NaN,751000,1910,NaN,NaN,NaN,NaN,NaN
21,1001420010,25,HARRISON STREET,10013,NaN,2060000,1899,NaN,NaN,NaN,NaN,NaN
22,1001420011,27,HARRISON STREET,10013,NaN,3535000,1940,NaN,NaN,NaN,NaN,NaN
23,1001420012,27A,HARRISON STREET,10013,NaN,2997000,1899,NaN,NaN,NaN,NaN,NaN
24,1001420013,29,HARRISON STREET,10013,NaN,2320000,1960,NaN,NaN,NaN,NaN,NaN
25,1001420014,31,HARRISON STREET,10013,NaN,1820000,1960,NaN,NaN,NaN,NaN,NaN
26,1001420016,33,HARRISON STREET,10013,NaN,1660000,1960,NaN,NaN,NaN,NaN,NaN
27,1001420017,37,HARRISON STREET,10013,NaN,2320000,1960,NaN,NaN,NaN,NaN,NaN
28,1001420018,39,HARRISON STREET,10013,NaN,3500000,1899,NaN,NaN,NaN,NaN,NaN
29,1001420019,41,HARRISON STREET,10013,NaN,2690000,1960,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
687823,5080490063,228,BUTLER AVENUE,10307,NaN,480000,1920,NaN,NaN,NaN,NaN,NaN
687824,5080500001,7615,AMBOY ROAD,10307,NaN,545000,1965,NaN,NaN,NaN,NaN,NaN
687825,5080500004,7631,AMBOY ROAD,10307,NaN,597000,1950,NaN,NaN,NaN,NaN,NaN
687826,5080500007,7635,AMBOY ROAD,10307,NaN,576000,1905,NaN,NaN,NaN,NaN,NaN
687827,5080500010,7639,AMBOY ROAD,10307,NaN,535000,1945,NaN,NaN,NaN,NaN,NaN
687828,5080500013,7647,AMBOY ROAD,10307,NaN,692000,1955,NaN,NaN,NaN,NaN,NaN
687829,5080500017,7649,AMBOY ROAD,10307,NaN,508000,1945,NaN,NaN,NaN,NaN,NaN
687830,5080500019,7657,AMBOY ROAD,10307,NaN,533000,1910,NaN,NaN,NaN,NaN,NaN
687831,5080500022,7663,AMBOY ROAD,10307,NaN,904000,2007,NaN,NaN,NaN,NaN,NaN
687832,5080500025,7671,AMBOY ROAD,10307,NaN,462000,1915,NaN,NaN,NaN,NaN,NaN
687833,5080500028,7675,AMBOY ROAD,10307,NaN,419000,1915,NaN,NaN,NaN,NaN,NaN
687834,5080500031,7681,AMBOY ROAD,10307,NaN,416000,1940,NaN,NaN,NaN,NaN,NaN
687835,5080500034,590,CRAIG AVENUE,10307,NaN,489000,1915,NaN,NaN,NaN,NaN,NaN
687836,5080500037,600,CRAIG AVENUE,10307,NaN,770000,1989,NaN,NaN,NaN,NaN,NaN
687837,5080500050,582,CRAIG AVENUE,10307,NaN,590000,1915,NaN,NaN,NaN,NaN,NaN
687838,5080500053,580,CRAIG AVENUE,10307,NaN,515000,1915,NaN,NaN,NaN,NaN,NaN
687839,5080500056,574,CRAIG AVENUE,10307,NaN,443000,1915,NaN,NaN,NaN,NaN,NaN
687840,5080500058,572,CRAIG AVENUE,10307,NaN,434000,1915,NaN,NaN,NaN,NaN,NaN
687841,5080500060,570,CRAIG AVENUE,10307,NaN,572000,1915,NaN,NaN,NaN,NaN,NaN
687842,5080500062,560,CRAIG AVENUE,10307,NaN,511000,1915,NaN,NaN,NaN,NaN,NaN
687843,5080500065,552,CRAIG AVENUE,10307,NaN,474000,1915,NaN,NaN,NaN,NaN,NaN
687844,5080500068,546,CRAIG AVENUE,10307,NaN,487000,1915,NaN,NaN,NaN,NaN,NaN
687845,5080500072,536,CRAIG AVENUE,10307,NaN,656000,1915,NaN,NaN,NaN,NaN,NaN
687846,5080500076,534,CRAIG AVENUE,10307,NaN,415000,1915,NaN,NaN,NaN,NaN,NaN
687847,5080500078,532,CRAIG AVENUE,10307,NaN,520000,2007,NaN,NaN,NaN,NaN,NaN
687848,5080500083,142,BENTLEY STREET,10307,NaN,484000,1925,NaN,NaN,NaN,NaN,NaN
687849,5080500086,146,BENTLEY STREET,10307,NaN,608000,1915,NaN,NaN,NaN,NaN,NaN
687850,5080500089,150,BENTLEY STREET,10307,NaN,533000,1915,NaN,NaN,NaN,NaN,NaN
687851,5080500092,156,BENTLEY STREET,10307,NaN,512000,1950,NaN,NaN,NaN,NaN,NaN
687852,5080500094,162,BENTLEY STREET,10307,NaN,469000,1945,NaN,NaN,NaN,NaN,NaN

In [111]:
filename = 'address_book.csv'
address.to_csv(filename, index=False)

In [356]:
address['STREET_NUM'] = data.HNUM_LO

In [338]:
address['ZIP'] = address["ZIP"].astype(int)

In [49]:
address = address[['BBLE', 'STREET_NUM', 'STREET_NAME', 'ZIP']]

In [470]:
address['ZILLOW_LINK'] = np.nan
address['ZILLOW_ID'] = np.nan
address['ZILLOW_STATUS'] = np.nan
address['LATITUDE'] = np.nan
address['SCHOOL_RATING'] = np.nan

In [220]:
address.drop('ZILLOW_ADDRESS', axis=1, inplace=True)

In [316]:
address.head()

,BBLE,STREET_NUM,STREET_NAME,ZIP,ZILLOW_LINK,VALUE,YEAR_BUILT,ZILLOW_STATUS,LATITUDE,LONGITUTDE,ZILLOW_ID
0,1000750043,26,CLIFF STREET,10038,NaN,8530000,1974,NaN,NaN,NaN,NaN
1,1000780040,86,NASSAU STREET,10038,NaN,6080000,1910,NaN,NaN,NaN,NaN
2,1000970017,211,FRONT STREET,10038,NaN,4340000,1900,NaN,NaN,NaN,NaN
3,1000970036,226,FRONT STREET,10038,NaN,5730000,1901,NaN,NaN,NaN,NaN
4,1000970044,136,BEEKMAN STREET,10038,NaN,2220000,1998,NaN,NaN,NaN,NaN

In [112]:
short_list = [11354, 11220, 10002, 11355, 11214]
selected_address = address.loc[address['ZIP'].isin([11354])]

In [113]:
len(selected_address)

3964

In [114]:
selected_address = selected_address[selected_address.VALUE < 500000]
selected_address = selected_address[selected_address.VALUE > 200000]

In [78]:
selected_address.iloc[5].ZILLOW_ID

'2142076795'

In [67]:
error = address[address.ZILLOW_ID == 'ERROR']
len(error)

0

In [45]:
# change the value of column by condition
address.ix[address.ZILLOW_ID == "ERROR", 'ZILLOW_ID'] = np.nan

In [115]:
selected_address.head(130)

,BBLE,STREET_NUM,STREET_NAME,ZIP,ZILLOW_LINK,VALUE,YEAR_BUILT,ZILLOW_STATUS,LATITUDE,LONGITUTDE,ZILLOW_ID,SCHOOL_RATING
370640,4042521001,2544,120 STREET,11354,http://www.zillow.com/homedetails/2544-120th-S...,326115,1985,Off Market,40.776428,-73.848079,32025050,"[6, 2, 9]"
370641,4042521002,2542,120 STREET,11354,http://www.zillow.com/homedetails/2542-120th-S...,305568,1984,Off Market,40.776901,-73.847991,2140233337,"[6, 2, 9]"
370642,4042521003,2540,120 STREET,11354,http://www.zillow.com/homedetails/2540-120th-S...,305568,0,Off Market,40.776465,-73.848076,32025052,"[6, 2, 9]"
370643,4042521004,2538,120 STREET,11354,http://www.zillow.com/homedetails/2538-120th-S...,305568,0,Off Market,40.776901,-73.847991,2142427196,"[6, 2, 9]"
370644,4042521005,2536,120 STREET,11354,http://www.zillow.com/homedetails/2536-120th-S...,305568,0,Off Market,40.776502,-73.848074,32025054,"[6, 2, 9]"
370645,4042521006,2534,120 STREET,11354,http://www.zillow.com/homedetails/2534-120th-S...,326115,0,Off Market,40.776901,-73.847991,2142076795,"[6, 2, 9]"
370646,4042521007,2544,120 STREET,11354,http://www.zillow.com/homedetails/2544-120th-S...,368649,0,Off Market,40.776428,-73.848079,32025050,"[6, 2, 9]"
370647,4042521008,2542,120 STREET,11354,http://www.zillow.com/homedetails/2542-120th-S...,347958,0,Off Market,40.776901,-73.847991,2140233337,"[6, 2, 9]"
370648,4042521009,2540,120 STREET,11354,http://www.zillow.com/homedetails/2540-120th-S...,315310,0,Off Market,40.776465,-73.848076,32025052,"[6, 2, 9]"
370649,4042521010,2538,120 STREET,11354,http://www.zillow.com/homedetails/2538-120th-S...,315310,0,Off Market,40.776901,-73.847991,2142427196,"[6, 2, 9]"
370650,4042521011,2536,120 STREET,11354,http://www.zillow.com/homedetails/2536-120th-S...,315310,0,NaN,40.776502,-73.848074,32025054,NaN
370651,4042521012,2534,120 STREET,11354,http://www.zillow.com/homedetails/2534-120th-S...,320109,0,NaN,40.776901,-73.847991,2142076795,NaN
370652,4042521013,2544,120 STREET,11354,http://www.zillow.com/homedetails/2544-120th-S...,348516,0,NaN,40.776428,-73.848079,32025050,NaN
370653,4042521014,2542,120 STREET,11354,http://www.zillow.com/homedetails/2542-120th-S...,343671,0,NaN,40.776901,-73.847991,2140233337,NaN
370654,4042521015,2540,120 STREET,11354,http://www.zillow.com/homedetails/2540-120th-S...,343671,0,NaN,40.776465,-73.848076,32025052,NaN
370655,4042521016,2538,120 STREET,11354,http://www.zillow.com/homedetails/2538-120th-S...,343671,0,NaN,40.776901,-73.847991,2142427196,NaN
370656,4042521017,2536,120 STREET,11354,http://www.zillow.com/homedetails/2536-120th-S...,368649,0,NaN,40.776502,-73.848074,32025054,NaN
370657,4042521018,2534,120 STREET,11354,http://www.zillow.com/homedetails/2534-120th-S...,372043,0,NaN,40.776901,-73.847991,2142076795,NaN
370658,4042521019,2560,120 STREET,11354,http://www.zillow.com/homedetails/2560-120th-S...,372043,0,NaN,40.77628,-73.848088,32025068,NaN
370659,4042521020,2558,120 STREET,11354,http://www.zillow.com/homedetails/2558-120th-S...,368649,0,NaN,40.776901,-73.847991,2141567092,NaN
370660,4042521021,2556,120 STREET,11354,http://www.zillow.com/homedetails/2556-120th-S...,368649,0,NaN,40.776901,-73.847991,2130961989,NaN
370661,4042521022,2554,120 STREET,11354,http://www.zillow.com/homedetails/2554-120th-S...,368649,0,NaN,40.776335,-73.848085,32025071,NaN
370662,4042521023,2552,120 STREET,11354,http://www.zillow.com/homedetails/2552-120th-S...,368649,0,NaN,40.776901,-73.847991,2142427197,NaN
370663,4042521024,2550,120 STREET,11354,http://www.zillow.com/homedetails/2550-120th-S...,368649,0,NaN,40.776901,-73.847991,2130694779,NaN
370664,4042521025,2548,120 STREET,11354,http://www.zillow.com/homedetails/2548-120th-S...,308588,0,NaN,40.776391,-73.848081,32025074,NaN
370665,4042521026,2560,120 STREET,11354,http://www.zillow.com/homedetails/2560-120th-S...,357792,0,NaN,40.77628,-73.848088,32025068,NaN
370666,4042521027,2558,120 STREET,11354,http://www.zillow.com/homedetails/2558-120th-S...,353284,0,NaN,40.776901,-73.847991,2141567092,NaN
370667,4042521028,2556,120 STREET,11354,http://www.zillow.com/homedetails/2556-120th-S...,353284,0,NaN,40.776901,-73.847991,2130961989,NaN
370668,4042521029,2554,120 STREET,11354,http://www.zillow.com/homedetails/2554-120th-S...,411213,0,NaN,40.776335,-73.848085,32025071,NaN
370669,4042521030,2552,120 STREET,11354,http://www.zillow.com/homedetails/2552-120th-S...,411213,0,NaN,40.776901,-73.847991,2142427197,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
370740,4042530073,2514,121 STREET,11354,http://www.zillow.com/homedetails/2514-121st-S...,407000,1950,NaN,40.77645,-73.84743,32025150,NaN
370741,4042530074,2516,121 STREET,11354,http://www.zillow.com/homedetails/2516-121st-S...,416000,1950,NaN,40.776399,-73.84744,32025151,NaN
370742,4042530075,2518,121 STREET,11354,http://www.zillow.com/homedetails/2518-121st-S...,413000,1950,NaN,40.776335,-73.84744,32025152,NaN
370743,4042530076,2520,121 STREET,11354,http://www.zillow.com/homedetails/2520-121st-S...,426000,1950,NaN,40.776275,-73.847445,32025153,NaN
370744,4042530077,2522,121 STREET,11354,http://www.zillow.com/homedetails/2522-121st-S...,391000,1950,NaN,40.776225,-73.847445,32025154,NaN
370745,4042530078,2524,121 STREET,11354,http://www.zillow.com/homedetails/2524-121st-S...,416000,1950,NaN,40.77616,-73.847455,32025155,NaN
370746,4042530079,2526,121 STREET,11354,http://www.zillow.com/homedetails/2526-121st-S...,432000,1950,NaN,40.776095,-73.847455,32025156,NaN
370747,4042530080,2528,121 STREET,11354,http://www.zillow.com/homedetails/2528-121st-S...,426000,1950,NaN,40.776039,-73.84746,32025157,NaN
370748,4042530081,2530,121 STREET,11354,http://www.zillow.com/homedetails/2530-121st-S...,426000,1950,NaN,40.775985,-73.84747,32025158,NaN
370749,4042530082,2532,121 STREET,11354,http://www.zillow.com/homedetails/2532-121st-S...,422000,1950,NaN,40.775915,-73.84747,32025159,NaN
370750,4042540041,2533,121 STREET,11354,http://www.zillow.com/homedetails/2533-121st-S...,423000,1960,NaN,40.775895,-73.846915,32025160,NaN
370751,4042540042,2531,121 STREET,11354,http://www.zillow.com/homedetails/2531-121st-S...,441000,1960,NaN,40.775965,-73.846915,32025161,NaN
370752,4042540043,2529,121 STREET,11354,http://www.zillow.com/homedetails/2529-121st-S...,442000,1960,NaN,40.77602,-73.84691,32025162,NaN
370753,4042540044,2527,121 STREET,11354,http://www.zillow.com/homedetails/2527-121st-S...,442000,1960,NaN,40.77607,-73.84691,32025163,NaN
370754,4042540045,2525,121 STREET,11354,http://www.zillow.com/homedetails/2525-121st-S...,431000,1960,NaN,40.77614,-73.846904,32025164,NaN
370755,4042540047,2523,121 STREET,11354,http://www.zillow.com/homedetails/2523-121st-S...,442000,1960,NaN,40.776195,-73.8469,32025165,NaN
370756,4042540048,2521,121 STREET,11354,http://www.zillow.com/homedetails/2521-121st-S...,427000,1960,NaN,40.776245,-73.8469,32025166,NaN
370757,4042540049,2519,121 STREET,11354,http://www.zillow.com/homedetails/2519-121st-S...,442000,1960,NaN,40.776315,-73.8469,32025167,NaN
370758,4042540050,2517,121 STREET,11354,http://www.zillow.com/homedetails/2517-121st-S...,425000,1960,NaN,40.776375,-73.846894,32025168,NaN
370759,4042540051,2515,121 STREET,11354,http://www.zillow.com/homedetails/2515-121st-S...,436000,1960,NaN,40.77642,-73.84689,32025169,NaN
370760,4042540052,2511,121 STREET,11354,http://www.zillow.com/homedetails/2511-121st-S...,425000,1960,NaN,40.776489,-73.84689,32025170,NaN
370761,4042540053,2509,121 STREET,11354,http://www.zillow.com/homedetails/2509-121st-S...,431000,1960,NaN,40.776555,-73.84689,32025171,NaN
370762,4042540054,2507,121 STREET,11354,http://www.zillow.com/homedetails/2507-121st-S...,442000,1960,NaN,40.77661,-73.846885,32025172,NaN
370763,4042540055,2505,121 STREET,11354,http://www.zillow.com/homedetails/2505-121st-S...,429000,1960,NaN,40.776669,-73.84688,32025173,NaN
370764,4042540056,2503,121 STREET,11354,http://www.zillow.com/homedetails/2503-121st-S...,431000,1960,NaN,40.776735,-73.846875,32025174,NaN
370765,4042540057,2501,121 STREET,11354,http://www.zillow.com/homedetails/2501-121st-S...,408000,1960,NaN,40.77679,-73.846875,32025175,NaN
370766,4042540068,2502,COLLEGE POINT BLVD,11354,http://www.zillow.com/homedetails/2502-College...,411000,1960,NaN,40.776785,-73.84656,32025176,NaN
370767,4042540069,2504,COLLEGE POINT BLVD,11354,NaN,425000,1960,NaN,NaN,NaN,NaN,NaN
370768,4042540070,2506,COLLEGE POINT BLVD,11354,NaN,425000,1960,NaN,NaN,NaN,NaN,NaN
370769,4042540071,2508,COLLEGE POINT BLVD,11354,NaN,436000,1960,NaN,NaN,NaN,NaN,NaN

In [15]:
address.iloc[370640]

BBLE             4042521001
STREET_NUM             2544
STREET_NAME      120 STREET
ZIP                   11354
ZILLOW_LINK             NaN
VALUE                326115
YEAR_BUILT             1985
ZILLOW_STATUS           NaN
LATITUDE                NaN
LONGITUTDE         -73.8481
ZILLOW_ID             ERROR
SCHOOL_RATING           NaN
Name: 370640, dtype: object

In [300]:
address_Z = '2534 120 STREET'
zipcode_Z = '11354'
address_Z,zipcode_Z

('2534 120 STREET', '11354')

In [345]:
zillow_data = ZillowWrapper(YOUR_ZILLOW_API_KEY)
deep_search_response = zillow_data.get_deep_search_results(address_Z, zipcode_Z)
result = GetDeepSearchResults(deep_search_response)

In [346]:
result.home_detail_link

'http://www.zillow.com/homedetails/2534-120th-St-Flushing-NY-11354/2142076795_zpid/'

In [391]:
# zillow API function, have 1000 request per day limit
# only use after getting small number of interested properties

from pyzillow.pyzillow import ZillowWrapper, GetDeepSearchResults, GetUpdatedPropertyDetails
# pyzillow 
# https://github.com/hanneshapke/pyzillow

YOUR_ZILLOW_API_KEY = 'X1-ZWz1fcz57zvjt7_6jziz'

for i in range(len(selected_address)):
    BBLE = selected_address.BBLE.iloc[i]
    index = selected_address[selected_address['BBLE'] == BBLE].index.values[0]
    
    print index
    if pd.isnull(address.iloc[index].ZILLOW_ID):
    
        # sometimes zillow API wrapper dones't accept address/zipcode, even though they are strings
        try:
            # convert process street numbers for zillow API wrapper
            street_num = selected_address.iloc[i]['STREET_NUM']
            street_name = selected_address.iloc[i]['STREET_NAME']

            # assing address and zipcode
            address_Z = str(street_num) + ' ' + str(street_name)
            zipcode_Z = str(selected_address.iloc[i]['ZIP'])

            #use zillow API wrapper to get website link for this property
            zillow_data = ZillowWrapper(YOUR_ZILLOW_API_KEY)
            deep_search_response = zillow_data.get_deep_search_results(address_Z, zipcode_Z)
            result = GetDeepSearchResults(deep_search_response)

            # find the index of the current address
            BBLE = selected_address.BBLE.iloc[i]
            index = selected_address[selected_address['BBLE'] == BBLE].index.values[0]

            address['ZILLOW_LINK'].iloc[index] = result.home_detail_link
            address['ZILLOW_ID'].iloc[index] = result.zillow_id
            address['LATITUDE'].iloc[index] = result.latitude
            address['LONGITUTDE'].iloc[index] = result.longitude
        except:
            address['ZILLOW_ID'].iloc[index] = "ERROR"
            print "error on line", i
            pass

69
70
71
72
73
75
77
78
80
82
83
84
85
86
87
88
89
90
91
93
95
97
99
101
103
105
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125

In [404]:
import csv
cw = csv.writer(open("streetnum.csv",'w'))
cw.writerow(list(set(address.STREET_NUM)))

In [419]:
# imported the NYC restaurant inspection data to look at nearby restaurants
food = pd.read_csv('NYC_Restaurant_inspection.csv')

In [421]:
clean = food.drop_duplicates(subset = 'DBA')

In [415]:
clean_food = food.loc[food['GRADE'] == 'A']

In [438]:
clean_food

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,SCORE,GRADE
0,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,10462,7188924968,Bakery,10.0,A
14,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE ...,11225,7182875005,Hamburgers,12.0,A
33,30191841,DJ REYNOLDS PUB AND RESTAURANT,MANHATTAN,351,WEST 57 STREET ...,10019,2122452912,Irish,8.0,A
42,40356018,RIVIERA CATERER,BROOKLYN,2780,STILLWELL AVENUE ...,11224,7183723031,American,4.0,A
48,40356151,BRUNOS ON THE BOULEVARD,QUEENS,8825,ASTORIA BOULEVARD,11369,7183350505,American,12.0,A
74,40356483,WILKEN'S FINE FOOD,BROOKLYN,7114,AVENUE U,11234,7184443838,Delicatessen,9.0,A
102,40356649,REGINA CATERERS,BROOKLYN,6409,11 AVENUE ...,11219,7182560829,American,8.0,A
128,40356731,TASTE THE TROPICS ICE CREAM,BROOKLYN,1839,NOSTRAND AVENUE ...,11226,7188560821,"Ice Cream, Gelato, Yogurt, Ices",5.0,A
136,40357217,WILD ASIA,BRONX,2300,SOUTHERN BOULEVARD ...,10460,7182207846,American,9.0,A
149,40359480,1 EAST 66TH STREET KITCHEN,MANHATTAN,1,EAST 66 STREET ...,10065,2128793900,American,0.0,A
153,40359705,NATHAN'S FAMOUS,BROOKLYN,1310,SURF AVENUE,11224,7183332202,Hotdogs,11.0,A
182,40360045,SEUDA FOODS,BROOKLYN,705,KINGS HIGHWAY ...,11223,7183751500,Jewish/Kosher,13.0,A
203,40360076,CARVEL ICE CREAM,BROOKLYN,203,CHURCH AVENUE ...,11218,7184389501,"Ice Cream, Gelato, Yogurt, Ices",5.0,A
222,40361521,GLORIOUS FOOD,MANHATTAN,522,EAST 74 STREET ...,10021,2127372140,American,10.0,A
270,40361606,THE MOVABLE FEAST,BROOKLYN,284,PROSPECT PARK WEST ...,11215,7189652900,American,11.0,A
283,40361618,SAL'S DELI,QUEENS,12908,20 AVENUE,11356,7186619498,Delicatessen,7.0,A
300,40361708,BULLY'S DELI,MANHATTAN,759,BROADWAY,10003,2122549755,Delicatessen,7.0,A
318,40361998,STEVE CHU'S DELI & GROCERY,QUEENS,3406,10 STREET,11106,7187268888,Delicatessen,5.0,A
324,40362098,HARRIET'S KITCHEN,MANHATTAN,502,AMSTERDAM AVENUE ...,10024,2127210045,Chicken,10.0,A
345,40362264,P & S DELI GROCERY,MANHATTAN,730,COLUMBUS AVENUE ...,10025,2129323030,American,13.0,A
375,40362274,ANGELIKA FILM CENTER,MANHATTAN,18,WEST HOUSTON STREET,10012,2129952570,American,11.0,A
387,40362432,HO MEI RESTAURANT,QUEENS,10305,37 AVENUE,11368,7187796903,Chinese,12.0,A
419,40362715,THE COUNTRY CAFE,MANHATTAN,60,WALL STREET,10005,3474279132,Turkish,7.0,A
446,40362869,SHASHEMENE INT'L RESTAURA,BROOKLYN,195,EAST 56 STREET ...,11203,3474300871,Caribbean,9.0,A
484,40363098,DUNKIN' DONUTS,BROOKLYN,56,COURT STREET ...,11201,7186252068,Donuts,7.0,A
492,40363151,OLIVE'S,MANHATTAN,120,PRINCE STREET ...,10012,2129410111,Sandwiches/Salads/Mixed Buffet,6.0,A
533,40363298,CAFE METRO,MANHATTAN,625,8 AVENUE,10018,2127149342,American,12.0,A
551,40363333,TONY'S DELI,QUEENS,1069,WYCKOFF AVENUE ...,11385,7183867925,Delicatessen,11.0,A
576,40363426,LEXLER DELI,MANHATTAN,405,LEXINGTON AVENUE ...,10174,2126870820,Sandwiches/Salads/Mixed Buffet,12.0,A
587,40363427,BAGELS N BUNS,STATEN ISLAND,2491,VICTORY BOULEVARD ...,10314,7187611900,Delicatessen,11.0,A
...,...,...,...,...,...,...,...,...,...,...
474376,50045188,JUST HALAL,STATEN ISLAND,2655,RICHMOND AVE,10314,3477017953,Middle Eastern,9.0,A
474379,50045189,New Style Handpulled Noodles,MANHATTAN,23,PELL ST,10013,2122850668,Chinese,8.0,A
474381,50045192,NEW GOLDEN DRAGON CHINESE,BRONX,1078,BOSTON RD,10456,7188609888,Chinese,7.0,A
474386,50045194,BURP BOWL CAFE,MANHATTAN,134,E 27TH ST,10016,6464921082,Asian,7.0,A
474388,50045196,CAFE RAE'S,QUEENS,8229,164TH ST,11432,7183800029,Delicatessen,10.0,A
474404,50045208,LITTLE BASIL THAI,MANHATTAN,153,E 26TH ST,10010,2126891444,Thai,13.0,A
474466,50045247,EMPIRE EXPRESS CHINESE RESTAURANT,BROOKLYN,319,9TH ST,11215,7184993758,Chinese,12.0,A
474502,50045270,CROWN FRIED CHICKEN AND PIZZA,BROOKLYN,228,ALBANY AVE,11213,3476576641,Other,11.0,A
474507,50045276,SUBWAY SANDWICHES,BROOKLYN,882,5TH AVE,11232,7184360081,Sandwiches/Salads/Mixed Buffet,2.0,A
474512,50045289,KIM PO RESTAURANT,QUEENS,11006,FARMERS BLVD,11412,7182642828,Chinese,12.0,A
474538,50045324,CARIDAD CHINA RESTAURANT,BROOKLYN,108,GRAHAM AVE,11206,7183021102,Spanish,7.0,A
474542,50045332,ROWLANDS BAR AND GRILL / CHEF STREET,MANHATTAN,151,W 34TH ST,10001,__________,Other,12.0,A
474621,50045407,GREEN FIG,MANHATTAN,570,10TH AVE,10036,2122355190,American,7.0,A
474628,50045410,CHIDORI JAPANESE CUISINE,QUEENS,9709,64TH AVE,11374,3472515971,Japanese,13.0,A
474672,50045453,PAPA JOHN'S PIZZA,QUEENS,9035,CORONA AVE,11373,7187607272,Pizza,12.0,A
474723,50045498,MI TACO SANTANA,BROOKLYN,301,KEAP ST,11211,3479525093,Mexican,9.0,A
474725,50045509,MCDONALD'S RESTAURANT,MANHATTAN,1871,2ND AVE,10029,7322102311,Hamburgers,12.0,A
474744,50045535,LOS AMIGOS GRILL,BROOKLYN,142,AVENUE U,11223,7184490657,Mexican,12.0,A
474767,50045571,WING YUM LIN'S RESTAURANT,QUEENS,11021,JAMAICA AVE,11418,7188059868,Chinese,7.0,A
474815,50045595,MINUS5 ICE BAR,MANHATTAN,1335,AVENUE OF AMERICAS,10019,2127575329,"Bottled beverages, including water, sodas, jui...",2.0,A
474826,50045600,ANTICA TRATTORIA,QUEENS,6810,FRESH POND RD,11385,7183861559,Italian,12.0,A
474850,50045629,BARON'S,BROOKLYN,564,DEKALB AVE,11205,7182307100,Mediterranean,13.0,A
474867,50045654,LA CHACRA,BROOKLYN,1928,BATH AVE,11214,7187585488,Peruvian,10.0,A
474875,50045670,DOMINOS PIZZA #3554,BROOKLYN,954,NOSTRAND AVE,11225,7187780110,Pizza,6.0,A
474951,50045765,WHITEPOINT PIZZA,QUEENS,13213,14TH AVE,11356,7187465555,Other,9.0,A
474996,50045817,ALICE ON SIX,MANHATTAN,420,W 118TH ST,10027,2019565438,Café/Coffee/Tea,11.0,A
475068,50045974,LIMON RESTAURANT,MANHATTAN,238,E 24TH ST,10010,2122133343,Turkish,6.0,A
475147,50046155,GREEN APPLE FOOD COURT: SUSHI/ GYRO/ PIZZA,QUEENS,9245,GUY R BREWER BLVD,11433,7186588887,Other,12.0,A
475151,50046161,GREEN APPLE FOOD COURT: TERIYAKI/ CHINESE FOOD,QUEENS,9245,GUY R BREWER BLVD,11433,7186588887,Chinese,12.0,A
475397,50046678,POPEYES CHICKEN & BISCUITS,BROOKLYN,1153,FULTON ST,11216,7182308918,Chicken,9.0,A

In [437]:
clean_food.drop('INSPECTION DATE', axis=1, inplace=True)

In [439]:
filename = 'food.csv'
clean_food.to_csv(filename, index=False)

In [441]:
food_pref = clean_food.loc[clean_food['CUISINE DESCRIPTION'] == "Chinese"]

In [445]:
food_by_zip = food_pref.groupby(by=['ZIPCODE'])['GRADE'].count()

In [455]:
short_list = food_by_zip.sort_values(ascending=False).head(5)

In [466]:
selected_address = address.loc[address['ZIP'].isin(list(short_list.index))]

16646

In [100]:
address.iloc[80604]

BBLE                                                    3007380055
STREET_NUM                                                     451
STREET_NAME                                              45 STREET
ZIP                                                          11220
ZILLOW_LINK      http://www.zillow.com/homedetails/451-45th-St-...
VALUE                                                       646000
YEAR_BUILT                                                    1899
ZILLOW_STATUS                                                  NaN
LATITUDE                                                   40.6486
LONGITUTDE                                                 -74.008
ZILLOW_ID                                                      NaN
SCHOOL_RATING                                                  NaN
Name: 80604, dtype: object

In [101]:
address.SCHOOL_RATING.iloc[81816]

nan

In [109]:
cache_dir = 'cache'
if not os.path.exists(cache_dir):
    os.mkdir(cache_dir)
    
@checkpoint(key=string.Template('stride.csv'), work_dir=cache_dir, refresh=True)

def scrape_zillow(selected_address):

    for i in range(len(selected_address)):

        BBLE = selected_address.BBLE.iloc[i]
        index = selected_address[selected_address['BBLE'] == BBLE].index.values[0]

        # scrapying zillow page for school rating
        r = requests.get(selected_address['ZILLOW_LINK'].iloc[i])

        # parse with BeautifulSoup

        soup = BeautifulSoup(r.text, "html.parser")

        #check if selling
        sale_tag = soup.find(id = 'home-value-wrapper')

        status = ''

        if ('For Sale' in sale_tag.text):
            status = 'For Sale'
        elif ('Off Market' in sale_tag.text):
            status = 'Off Market'
        elif ('Sold' in sale_tag.text):
            status = 'Sold'
        elif ('PENDING' in sale_tag.text):
            status = 'Pending'
        else:
            status = 'Unknown'

        # find id='nearbySchools'
        rating = soup.find(id = 'nearbySchools')

        # find 'li' in the table
        rows = rating.find_all('li')

        # find each row by 'div', first char of each striped value is grade
        # get a list of all three, pk-5, 6-8, 9-12 in random order
        rate=[]
        for row in rows[1:4]:
            score = row.find_all('div')[0].text.strip()
            rate.append(int(score[0:2]))
        print rate, status
        print address.SCHOOL_RATING.iloc[index], address.ZILLOW_STATUS.iloc[index]
        address.SCHOOL_RATING.iloc[index] = str(rate)
        address.ZILLOW_STATUS.iloc[index] = status

In [110]:
scrape_zillow(selected_address[0:10])

[6, 2, 9] Off Market
nan nan
[6, 2, 9] Off Market
nan nan
[6, 2, 9] Off Market
nan nan
[6, 2, 9] Off Market
nan nan
[6, 2, 9] Off Market
nan nan
[6, 2, 9] Off Market
nan nan
[6, 2, 9] Off Market
nan nan
[6, 2, 9] Off Market
nan nan
[6, 2, 9] Off Market
nan nan
[6, 2, 9] Off Market
nan nan

In [108]:
l = [1,2,3]
str(l)

'[1, 2, 3]'

In [120]:
# scrape the website for zipcode specific information
url = 'http://www.moving.com/real-estate/city-profile/results.asp'
response = requests.get(url, params={"Zip": 10025})
soup = BeautifulSoup(response.text, "lxml")

In [121]:
# this is the whole table
parent_div = soup.find('div', attrs={'class': 'school_report_results cityprofile_results'})

In [123]:
# separated to each table
content = soup.select('table')

In [158]:
# find the population
rows_1 = content[0].select('tr')
cells = rows_1[1].select('td')
cells[2].text

In [159]:
# find the median disposable income
rows_2 = content[1].select('tr')
cells = rows_2[4].select('td')
cells[2].text